body{
    margin-top: 50px
}

.all-width{
    width: 100%;
}
.center-txt{
    text-align: center;
}

.mgn-btm-10{
    margin-bottom: 10px;
}

.hyt-300{
    height: 300px;
}

.txt-center{
    text-align: center;
    vertical-align:middle;
}

.button {
    margin-top: 400px;
    margin-right: 700px;
    width: 50px;
}

.button2 {
    margin-top: -100px;
    margin-right: 700px;
    width: 50px;
}